/** @format */

.gaming1 {
  /* アニメーションの長さ */
  animation: gaming1 2s linear infinite;
}
@keyframes gaming1 {
  /* 色の指定 */
  0% {
    background-color: Magenta;
  }
  33% {
    background-color: yellow;
  }
  66% {
    background-color: Cyan;
  }
  100% {
    background-color: Magenta;
  }
}

.gaming2 {
  /* 横長で虹色を作る */
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0%
    center/200%;
  animation: gaming2 2s linear infinite;
}
@keyframes gaming2 {
  /* backgroundを移動させる */
  100% {
    background-position-x: 200%;
  }
}
