/** @format */

.footer {
  display: flex;
  flex: 1;
  padding: 10px 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  display: inline;
  color: #0070f3;
  text-decoration: none;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
  display: inline;
}

.main {
  margin: 20px;
}

.backToHome {
  margin-left: 3%;
  margin-right: auto;
  border-radius: 5px;
  padding: 3px;  
}

.backToHome:hover {
  background-color: #eaeaea;
}

.footerName {
  margin-right: auto;
  margin-left: auto;
}
