/** @format */
@use "sass:math";

$ruler: 16px;
$color-bg: #ebecf0;
$color-red: #ae1100;
$color-shadow: #babecc;
$color-white: #fff;

.formula {
  word-wrap: break-word;
  padding: 10px;
}

.formula,
.formula > input {
  font-family: "Montserrat", sans-serif;
  font-size: $ruler * 1.2;
}

.calculator_frame {
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: $color-bg;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
}

// 入力フォーム
.input {
  width: 100%;
  max-width: 25rem;
  margin-right: math.div($ruler, 2);
  box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }
}

.calc_button,
.input {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler * 1;
  padding: $ruler;
  background-color: $color-bg;
  text-shadow: 1px 1px 0 $color-white;
  margin: 3px;
}

// 計算結果
.formula_ans {
  text-align: left;
  margin-left: 10px;
}

// 数値と演算子のボタン
.calc_button {
  width: 50px;
  height: 50px;
  z-index: 1;
}

.calc_button_del {
  height: 50px;
  width: 106px;
  z-index: 1;
}

.calc_button_add {
  height: 106px;
  width: 50px;
  position: absolute; 
  z-index: 2;
  transform: translateY(3px);
}

.calc_button_null {
  height: 50px;
  width: 50px;
  z-index: 0;
  transform: translateY(3px);
}

.calc_button:not(.calc_button_null) {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid #ccc;

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }
}