/** @format */

$white: rgba(255, 255, 255, 0.3);

.container {
  font-family: "Montserrat", sans-serif;
  background: $white;
  padding: 3em;
  margin: 3em auto;
  border-radius: 20px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  width: 100%;

  &:focus {
    outline: none;
  }

  .onboard_text {
    color: #fff;
    opacity: 0.7;
    margin-top: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .title {
    font-weight: 500;
    font-size: 2.4rem;
  }

  .quote {
    font-weight: 200;
    font-size: 0.8rem;
  }

  .quote_link {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-shadow: 2px 2px 6px #00000040;
    }
    &:active {
      text-shadow: none;
    }
  }

  .number {
    background: transparent;
    width: 3em;
    height: 3em;
    padding: 0.5em;
    margin: 0em 2px 2em 2px;
    border: none;
    border-left: 1px solid $white;
    border-top: 1px solid $white;
    border-radius: 5%;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    outline: none;
    &:hover {
      box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
    }
    &[type="number"] {
      &:focus {
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .ans {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    height: 10em;
    width: 100%;
    overflow-y: scroll;
  }
  .ans > p {
    margin: 3px auto;
  }

  @media screen and (max-width: 750px) {
    .container {
      margin-top: 1em;
    }
    .ans {
      margin: 10px auto;
    }
    .inputs > input {
      width: 24%;
      height: auto;
      margin: 0 1px 0 1px;
    }
  }
}

.drop {
  background: $white;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: all 0.2s ease;

  // 左上
  &_1 {
    height: 80px;
    width: 80px;
    top: 3%;
    left: -3%;
    z-index: 0;
  }
  // 右下
  &_2 {
    height: 80px;
    width: 80px;
    bottom: 3%;
    right: -3%;
    z-index: 2;
  }
  // 右中央
  &_3 {
    height: 100px;
    width: 100px;
    bottom: 30%;
    right: -5%;
    z-index: 0;
  }
  // 右上
  &_4 {
    height: 120px;
    width: 120px;
    top: 1%;
    right: -5%;
    z-index: 2;
  }
  // 中央奥
  &_5 {
    height: 60px;
    width: 60px;
    bottom: 20%;
    left: 20%;
    z-index: 0;
  }
}

@media screen and (max-width: 750px) {
  .drops {
    display: none;
  }
}
